//FONT
$catamaran: "Catamaran";
$quicksand: "Quicksand";

//COLOR
    //HEADER #ebe9eb
    $headerColor: #f4f4f4;
    $shopCartColor: #2b333d;
    //NAV
    $navLinkColor: #0f1214;
    $navLinkHoverColor: #f32918;
    $subNavLinkColor: #6f6f6f;
    //SIDEBAR
    $sidebarBg: #192535;
    $sidebarColor: #f4f4f4;
    $sidebarLine: #2c3747;
    //ICON
    $iconColor: #544fe3;
    //POST
    $postTitleColor: #ebe9eb;

//RESPONSIVE SCREENS
    //TABLET
    $tabletScreen: 900px;
    //MOBILE
    $mobileScreen: 470px
